<div class="container main">
  <h1 class="display-4 text-center">LockDown</h1>
  <div class="imgCont">
    <img class="lock" src="../../assets/lock.jpg">
  </div>
  <p class="lead text-center">In these times of crisis, don't be a douche. Stay inside your room. Let others in your home know when you're not.</p>
  <hr class="my-4">
  <p class="text-center">Register your family, add family members and their phone numbers, let them know when you're in the kitchen, bathroom, etc..</p>
  <p class="lead text-center">
    <a routerLink="/register" class="btn btn-secondary btn-lg" href="#" role="button">Register</a> &nbsp;&nbsp;
    <a routerLink="/login" class="btn btn-primary btn-lg" href="#" role="button">Login</a>
  </p>
</div>
