<app-header></app-header>
<div class="container">
  <div class="row justify-content-center" style="padding-top: 10%;">
    <div class="col-lg-6 col-sm-12">
      <div class="card">
        <div class="imgCont">
          <img class="card-img-top lock" src="../../assets/lock.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
          <h1 class="card-title text-center">Login</h1>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="exampleInputEmail1">Family Name</label>
              <input [formControl]="form.controls['familyname']" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter UserName"
              [ngClass]="{'is-invalid': familyErr}"/>
            </div>
            <div class="invalid" *ngIf="familyErr">
              Family Name not in DataBase</div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [formControl]="form.controls['password']"
              [ngClass]="{'is-invalid': (passwordErr)}" />
            </div>
            <div class="invalid" *ngIf="passwordErr">Incorrect Password
            </div>
            <button  [disabled]="!form.valid" type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
